<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Maleteo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/styles.css">
    <script src="formulario.js"></script>
    <script src="maps.js"></script>
    <script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhxkjwjCWzKu58TZJEfHzgIa5f4YCMYTc&callback=mapaGoogleMap"></script>

  </head>

  <body>
    <div class="wrapper">
      <div class="container-fluid">
        <header class="header">
          <img src="assets/img/logo.svg" alt="Maleteo">
        </header>
      </div>
    </div>

    <main>
      <div class="jumbo">
        <div class="wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="jumbo__ww-title">
                  <div class="jumbo__w-title">
                    <h1 class="jumbo__title heading1">
                      Gana dinero guardando equipaje a viajeros como tu
                    </h1>
                    <ul class="jumbo__app-btns">
                      <li>
                        <a href="#">
                          <img src="assets/img/app-store.svg" alt="" class="jumbo__app-btn">
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <img src="assets/img/google-play.svg" alt="" class="jumbo__app-btn">
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="container-fluid">
          <section class="howworks">
            <h2 class="howworks__title heading2">
              ¿Cómo funciona?
            </h2>
            <ol class="howworks__steps row">
              <li class="col-md-4">
                <div class="howworks__step">
                  <div class="howworks__step-w-bola">
                    <div class="howworks__step-bola">
                      <span class="heading3">1</span>
                    </div>
                  </div>
                  <div class="howworks__step-w-txt">
                    <p class="howworks__step-title heading3">
                      Date de alta
                    </p>
                    <p class="howworks__step-txt">
                      Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
                    </p>
                  </div>
                </div>
              </li>
              <li class="col-md-4">
                <div class="howworks__step">
                  <div class="howworks__step-w-bola">
                    <div class="howworks__step-bola">
                      <span class="heading3">2</span>
                    </div>
                  </div>
                  <div class="howworks__step-w-txt">
                    <p class="howworks__step-title heading3">
                      Publica tus espacios, horarios y tarifas
                    </p>
                    <p class="howworks__step-txt">
                      En un lugar de la mancha de cuyo nombre no quiero acordarme, no ha mucho tiempo
                    </p>
                  </div>
                </div>
              </li>
              <li class="col-md-4">
                <div class="howworks__step">
                  <div class="howworks__step-w-bola">
                    <div class="howworks__step-bola">
                      <span class="heading3">3</span>
                    </div>
                  </div>
                  <div class="howworks__step-w-txt">
                    <p class="howworks__step-title heading3">
                      Recibe viajeros y gana dinero
                    </p>
                    <p class="howworks__step-txt">
                      No ha mucho tiempo que vivia un hidalgo de los de lanza en astillero.
                    </p>
                  </div>
                </div>
              </li>
            </ol>
          </section>

          <section class="app-form">
            <div class="row">
              <div class="col-md-5">
                <div class="app-form__w-app-img">
                  <img src="assets/img/iPhoneX.png" srcset="assets/img/iPhoneX@2x.png 2x, assets/img/iPhoneX.png 1x" alt="" class="app-form__app-img">
                </div>
              </div>
              <div class="col-md-5 col-md-offset-1" id="the-f">
                <div class="the-form">
                  {# <form action=""> #}
                  {{ form_start(DemoForm) }}
                  <p class="the-form__title heading3">
                    Solicita una demo
                  </p>

                  <div class="the-form__group">
                    {{ form_label(DemoForm.nombre) }}
                    {{ form_widget(DemoForm.nombre,{'attr':{'class':'the-form__input'}}) }}

                    {#                                         <label for="name">
                                            Nombre
                                        </label>
                                        <input type="text" id="name" class="the-form__input"
                                            placeholder="Pepito Palotes"> #}
                  </div>

                  <div class="the-form__group">
                    {{ form_label(DemoForm.email) }}
                    {{ form_widget(DemoForm.email,{'attr':{'class':'the-form__input'}}
                    ) }}
                    {#                                         <label for="name">
                                            Email
                                        </label>
                                        <input type="email" name="email" id="email" class="the-form__input" placeholder="vincent@mga.com"> #}
                  </div>

                  <div class="the-form__group">
                    {{ form_label(DemoForm.ciudad) }}
                    {{ form_widget(DemoForm.ciudad,{'attr':{'class':'the-form__input the-form__select'}}
                    ) }}
                    {# <label for="city">
                                            Ciudad
                                        </label>
                                        <select name="" id="city" class="the-form__input the-form__select">
                                            <option value="">Madrid</option>
                                            <option value="">Valencia</option>
                                            <option value="">Barcelona</option>
                                        </select> #}
                  </div>

                  <div class="the-form__group the-form__group_checkbox">
                    {{ form_label(DemoForm.privacidad) }}
                    {{ form_widget(DemoForm.privacidad,{'attr':{'id':'privacity'}}
                    ) }}
                    {# <input type="checkbox" id="privacity">
                                        <label for="privacity">
                                            Aceptas la <a href="#">política de privacidad</a>
                                        </label> #}
                  </div>

                  {# <input type="submit" id= "boton" class="the-form__btn btn btn-lg btn-primary"
                                        value="Enviar"> #}
                  {# </form> #}
                  {{ form_end(DemoForm)}}

                </div>
                <div class="mensaje__ok">
                  <p>TU FORMULARIO SE HA ENVIADO.
                    <br>EN BREVE NOS PONDREMOS EN CONTACTO CONTIGO</p>
                </div>
              </div>
            </div>
          </section>

          <section class="opinions">
            <h2 class="opinions__title heading2">
              Opiniones de otros guardianes
            </h2>
            <ul class="row">
              <li class="col-md-4">
                <div class="opinion">
                  <blockquote class="opinion__blq simple-bubble text-large">
                    Tras el enorme éxito internacional de su primera colaboración, “Bailar”, que ganó un galardón en los Premios
                  </blockquote>
                  <p class="opinion__author text-large">
                    Sergio Garnacho
                  </p>
                  <p class="opinion__author-address">
                    Tetuán, Madrid
                  </p>
                </div>
              </li>
              <li class="col-md-4">
                <div class="opinion">
                  <blockquote class="opinion__blq simple-bubble text-large">
                    Tras el enorme éxito internacional de su primera colaboración, “Bailar”, que ganó un galardón en los Premios
                  </blockquote>
                  <p class="opinion__author text-large">
                    Sergio Garnacho
                  </p>
                  <p class="opinion__author-address">
                    Tetuán, Madrid
                  </p>
                </div>
              </li>
              <li class="col-md-4">
                <div class="opinion">
                  <blockquote class="opinion__blq simple-bubble text-large">
                    Tras el enorme éxito internacional de su primera colaboración, “Bailar”, que ganó un galardón en los Premios
                  </blockquote>
                  <p class="opinion__author text-large">
                    Sergio Garnacho
                  </p>
                  <p class="opinion__author-address">
                    Tetuán, Madrid
                  </p>
                </div>
              </li>
            </ul>
          </section>
        </div>
        <section class="guardianes">
          <h2 class="guardianes__title heading2">
            Guardianes cerca de ti
          </h2>
          <div class="guardianes__map" id="google_map"></div>
        </section>
      </main>
      <footer class="footer">
        <div class="wrapper">
          <div class="container-fluid">
            <img src="assets/img/logo.svg" alt="Maleteo" class="footer__logo">
            <p class="footer__claim">
              Hecho con ❤️en Madrid
            </p>
          </div>
        </div>
      </footer>
    </body>

  </html>
