.guardianes {
  align-items: center;

  &__title {
    margin-bottom: 1em;
    text-align: center;

  }

  &__map {
    margin-bottom: 1em;
    height: 500px;
    width: 100%;
    align-content: center;

  }
 

}